<div class="main-container">

    <h1 class="animated fast fadeIn">Acerca de Comics App</h1>
    <hr class="animated fast fadeIn">
    <br class="animated fast fadeIn">

    <p class="animated fadeIn">
        Comics App es una aplicación para los amantes de los superheroes sin importar de sus creadores y propiertarios.
        Aqui puedes encontrar personajes de DC comics o de Marvel y ver los origenes y poderes de tus héroes favoritos.
        Podés sugerir tus Heroes para que los agreguemos si aún no están en la aplicación.

        Agradecemos a nuestros lectores y fans por el apoyo a este proyecto.
    </p>

</div>
